[submodule "vendor/symfony"]
	path = vendor/symfony
	url = https://github.com/symfony/symfony.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "vendor/doctrine/mongodb"]
	path = vendor/doctrine/mongodb
	url = https://github.com/doctrine/mongodb.git
[submodule "vendor/doctrine/mongodb-odm"]
	path = vendor/doctrine/mongodb-odm
	url = https://github.com/doctrine/mongodb-odm.git
[submodule "vendor/doctrine/common"]
	path = vendor/doctrine/common
	url = https://github.com/doctrine/common.git
[submodule "vendor/doctrine/data-fixtures"]
	path = vendor/doctrine/data-fixtures
	url = https://github.com/doctrine/data-fixtures.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle
	url = git://github.com/symfony/DoctrineMongoDBBundle.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = http://github.com/Seldaek/monolog.git
[submodule "vendor/doctrine/orm"]
	path = vendor/doctrine/orm
	url = http://github.com/doctrine/doctrine2.git
[submodule "vendor/doctrine/dbal"]
	path = vendor/doctrine/dbal
	url = http://github.com/doctrine/dbal.git
[submodule "vendor/bundles/FOS/UserBundle"]
	path = vendor/bundles/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/FOSUserBundle.git
[submodule "vendor/doctrine/extensions/doctrine-workflow"]
	path = vendor/doctrine/extensions/doctrine-workflow
	url = https://github.com/beberlei/Doctrine-Workflow.git
[submodule "vendor/bundles/JMS/DebuggingBundle"]
    path = vendor/bundles/JMS/DebuggingBundle
    url = https://github.com/schmittjoh/JMSDebuggingBundle.git
[submodule "vendor/bundles/JMS/SecurityExtraBundle"]
    path = vendor/bundles/JMS/SecurityExtraBundle
    url = https://github.com/schmittjoh/JMSSecurityExtraBundle.git
[submodule "vendor/bundles/Sensio/Bundle/FrameworkExtraBundle"]
    path = vendor/bundles/Sensio/Bundle/FrameworkExtraBundle
    url = https://github.com/sensio/SensioFrameworkExtraBundle.git
[submodule "vendor/bundles/Symfony/Bundle/WebConfiguratorBundle"]
    path = vendor/bundles/Symfony/Bundle/WebConfiguratorBundle
    url = https://github.com/symfony/WebConfiguratorBundle.git
[submodule "vendor/bundles/Vespolina/MonetaryBundle"]
	path = vendor/bundles/Vespolina/MonetaryBundle
	url = git://github.com/vespolina/MonetaryBundle.git
[submodule "vendor/bundles/Vespolina/WorkflowBundle"]
	path = vendor/bundles/Vespolina/WorkflowBundle
	url = git://github.com/vespolina/WorkflowBundle.git
[submodule "vendor/metadata"]
	path = vendor/metadata
	url = http://github.com/schmittjoh/metadata.git
[submodule "vendor/bundles/Vespolina/CartBundle"]
	path = vendor/bundles/Vespolina/CartBundle
	url = git://github.com/vespolina/CartBundle.git
[submodule "vendor/bundles/Vespolina/EcommerceFlowsBundle"]
	path = vendor/bundles/Vespolina/EcommerceFlowsBundle
	url = git://github.com/vespolina/EcommerceFlowsBundle.git
[submodule "vendor/bundles/Vespolina/MerchandiseBundle"]
	path = vendor/bundles/Vespolina/MerchandiseBundle
	url = git://github.com/vespolina/MerchandiseBundle.git
[submodule "vendor/bundles/PricingBundle"]
	path = vendor/bundles/PricingBundle
	url = git://github.com/vespolina/PricingBundle.git
[submodule "vendor/bundles/Vespolina/PricingBundle"]
	path = vendor/bundles/Vespolina/PricingBundle
	url = git://github.com/vespolina/PricingBundle.git
[submodule "ProductBundle"]
	path = ProductBundle
	url = git://github.com/vespolina/ProductBundle.git
[submodule "vendor/bundles/Vespolina/ProductBundle"]
	path = vendor/bundles/Vespolina/ProductBundle
	url = git://github.com/vespolina/ProductBundle.git
[submodule "vendor/bundles/Vespolina/TaxationBundle"]
	path = vendor/bundles/Vespolina/TaxationBundle
	url = git://github.com/vespolina/TaxationBundle.git
[submodule "vendor/bundles/Vespolina/DocumentBundle"]
	path = vendor/bundles/Vespolina/DocumentBundle
	url = git://github.com/vespolina/DocumentBundle.git
