<h4>List of Products</h4>
<ul>
{% for product in products %}
    <li>{{ product.name }}<span class="price">{{ product.price|currencyConvert('EUR') }}</span></li>
{% else %}
    No products loaded.
{% endfor %}
</ul>

