<h4>List of Products</h4>
<ul>
{% for product in products %}
    <li>{{ product.name }}<span class="price">{{ product.price is not null ? product.price|currencyConvert('USD') : "sorry" }}</span></li>
{% else %}
    No products loaded.
{% endfor %}
</ul>

