<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ store ? store.name : "Undefined store" }}{% endblock %}</title>
        {% stylesheets filter='?yui_css'
            '@VespolinaStoreBundle/Resources/public/less/styles.less'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock body %}
        {% block javascripts %}
            {% javascripts filter='?yui_js'
                'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js'
                '../vendor/twbs/bootstrap/dist/js/bootstrap.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>
