<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ store ? store.name : "Undefined store" }}{% endblock %}</title>
        {% stylesheets filter='?yui_css'
            '@VespolinaStoreBundle/Resources/public/less/styles.less'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        {#<script src="{{ asset('assetic/common.js') }}" type="text/javascript"></script>#}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
