{% form_theme form form.getOption('theme') %}
<form action="{{ path('vespolina_product_product_update', {'sku': sku} ) }}" {{ form_enctype(form) }} method="POST" class="vespolina_product_product_edit">
    {{ form_field(form) }}
    <div>
        <input type="submit" value="{% trans 'Update Product' from 'VespolinaProductBundle' %}" />
    </div>
</form>
