<div class="vespolina_product_product_show">
    <p>{% trans "SKU" from 'VespolinaProductBundle' %}: {{ product.getSKU() }}</p>
    <p>{% trans "Name" from 'VespolinaProductBundle' %}: {{ product.getName() }}</p>
</div>
