parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     symfony
  database_user:     root
  database_password: ~

  mailer_transport:  smtp
  mailer_host:       localhost
  mailer_user:       ~
  mailer_password:   ~

  locale:            en
  secret:            ThisTokenIsNotSoSecretChangeIt

  java_path:         "/usr/bin/java"
  yui_compressor_jar: "/usr/share/yui-compressor/yui-compressor.jar"

  nodepath:          "/home/user/bin/node"
  nodemodulearray:   "/home/user/bin/node_modules"
  mongodb_database_name: vespolina