parameters:
  database_driver:          pdo_mysql
  database_host:            127.0.0.1
  database_port:            ~
  database_name:            vespolina
  database_user:            root
  database_password:        ~

  mailer_transport:         smtp
  mailer_host:              127.0.0.1
  mailer_user:              ~
  mailer_password:          ~

  locale:                   en
  secret:                   ThisTokenIsNotSoSecretChangeIt

  java_path:                "/usr/bin/java"
  yui_compressor_jar:       "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

  nodepath:                 "/home/user/bin/node"
  nodemodulearray:          "/home/user/bin/node_modules"
  mongodb_database_name:    vespolina

  paypal_username:          ~
  paypal_password:          ~
  paypal_signature:         ~
