<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ store ? store.name : "Undefined store" }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% javascripts output='js/main.js' filter='?yui_js' debug=true
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
            'http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
